In [2]:
import pandas as pd

In [3]:
df = pd.read_parquet('../data/01_raw/dataset_kobe_dev.parquet')

In [4]:
columns_of_interest = ['lat', 'lon', 'minutes_remaining', 'period', 'playoffs', 'shot_distance', 'shot_made_flag']
df_filtered = df[columns_of_interest]

In [5]:
df_filtered = df_filtered.dropna()
df_filtered.head()

,lat,lon,minutes_remaining,period,playoffs,shot_distance,shot_made_flag
1,34.0443,-118.4268,10,1,0,15,0.0
2,33.9093,-118.3708,7,1,0,16,1.0
3,33.8693,-118.1318,6,1,0,22,0.0
4,34.0443,-118.2698,6,2,0,0,1.0
5,34.0553,-118.4148,9,3,0,14,0.0

In [6]:
print(f"Filtered dataset dimension: {df_filtered.shape}")

Filtered dataset dimension: (20285, 7)