In [4]:
import mlflow
import mlflow.sklearn
from pycaret.classification import setup, create_model, tune_model, predict_model, get_metrics
from sklearn.metrics import log_loss, f1_score
import pandas as pd

In [7]:
# Make sure that the mlflow server is running locally in the port "5000", otherwise you need to change this url below
mlflow.set_tracking_uri('http://127.0.0.1:5000')
mlflow.set_experiment('Training Notebook')

<Experiment: artifact_location='mlflow-artifacts:/241919081044893865', creation_time=1743352035842, experiment_id='241919081044893865', last_update_time=1743352035842, lifecycle_stage='active', name='Training Notebook', tags={}>

In [10]:
# load dataset
data = pd.read_parquet('../data/05_model_input/train_dataset_kobe_dev.parquet')
target_column = 'shot_made_flag'
y = data[target_column]

In [9]:
# pycaret setup
clf_setup = setup(data, target=target_column, session_id=123, fix_imbalance=True)

In [14]:
with mlflow.start_run():
    # train logistic regression model
    lr_model = create_model('lr')
    lr_preds = predict_model(lr_model, data=data)
    lr_log_loss = log_loss(y, lr_preds['prediction_label'])
    
    # registry metrics for logistic regression model
    mlflow.log_metric('log_loss_lr', lr_log_loss)
    mlflow.sklearn.log_model(lr_log_loss, 'logistic_regression_model')
    
    # train decision hree model
    tree_model = create_model('dt')
    dt_preds = predict_model(tree_model, data=data)
    dt_log_loss = log_loss(y, dt_preds['prediction_label'])
    dt_f1 = f1_score(y, dt_preds['prediction_label'])
    
    # registry metrics for decision tree model
    mlflow.log_metric('decision_tree_lr', lr_log_loss)
    mlflow.log_metric('decision_tree_log_loss', dt_log_loss)
    mlflow.log_metric('decision_tree_f1_score', dt_f1)
    mlflow.sklearn.log_model(tree_model, 'decision_tree_model')
    
    best_model = "logistic_model" if lr_log_loss < dt_log_loss else "tree_model"
    mlflow.log_param("best_model", best_model)
    print(f"Modelo escolhido: {best_model}")

2025/03/30 14:17:55 WARNING mlflow.sklearn: Model was missing function: predict. Not logging python_function flavor!
2025/03/30 14:17:57 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.

2025/03/30 14:17:59 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.

Modelo escolhido: tree_model
🏃 View run thoughtful-wren-618 at: http://127.0.0.1:5000/#/experiments/241919081044893865/runs/b3d8d5a688a1455ab0433181828ee47b
🧪 View experiment at: http://127.0.0.1:5000/#/experiments/241919081044893865